.about-container{
    background-color:rgb(212, 247, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-heading{
   color: black;
   font-size: 4.5vw;
   margin-top: 1.5em;
   font-family: 'Abril Fatface', cursive;
}

.about-discription{
    text-align: center;
    align-self: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.about-profile-img{
    margin-top: 1em;
    width:20vw;
    height:20vw;
    border-radius: 50%;
}

.profile-disc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-names{
    margin-top: 1.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input{
  border: 2px solid red;
  border-radius: 4px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.name-div{
    display: flex;
    margin: 5px;
}

.msg-box{
    display: flex;
}

/* #usrform{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

@media (max-width:600px){
    .about-heading{
        font-size: 30px;
    }


    .about-profile-img{
        width:25vw;
        height:25vw;
    }

    .form-names{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .name-div{
        flex-direction: column;
        align-items: center;
    }

    .msg-box{
        flex-direction: column;
        align-items: center;
    }


}